@model IEnumerable<Test.Models.Employees>
@{
    ViewBag.Title = "Home Page";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IsSubscribedToNewsLetter</th>
            <th>MembershipType</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeID</td>
                <td>@employee.LastName</td>
                <td>@employee.FirstName</td>
                <td>@employee.HireDate</td>
            </tr>  }
    </tbody>
</table>
